In [2]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)

print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [3]:
print(df['Name'])  # Access the 'Name' column

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [4]:
print(df.iloc[2])   # Access the third row by position
print(df.loc[1])    # Access the second row by label

Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object
Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object

In [5]:
print(df[['Name', 'Age']])  # Select specific columns
print(df[1:3])             # Select specific rows

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [7]:
unique_dates = df['Age'].unique()
print(unique_dates)

[25 30 35 28]

In [8]:
high_above_102 = df[df['Age'] > 25]
print(high_above_102)

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [19]:
print(df.shape)
print(df.info())
print(df.describe())
print(df.head())
print(df.tail())  # Print the last 5 rows
 # mean(), sum(), min(), max()
print(df.count())
#print(df.unique())
print(df.nunique())
print(df['Age'].value_counts())
 # count(), unique(), nunique(), value_counts()
 # sort_values(), sort_index()
 # groupby()
 # apply(), applymap()
 # merge(), join()
 # concat()
 #sort_values(): Sort the DataFrame by one or more columns.
# groupby(): Group data based on specific columns for aggregation.
# fillna(), drop(), rename(): Handle missing values, drop columns, or rename columns.
# apply(): Apply a function to each element, row, or column of the DataFrame.

(4, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes
None
             Age
count   4.000000
mean   29.500000
std     4.203173
min    25.000000
25%    27.250000
50%    29.000000
75%    31.250000
max    35.000000
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago
Name    4
Age     4
City    4
dtype: int64
Name    4
Age     4
City    4
dtype: int64
Age
25    1
30    1
35    1
28    1
Name: count, dtype: int64

In [9]:
df.to_csv('trading_data.csv', index=False)