In [2]:
fruits = ["apple", "banana", "orange"]
fruits.append("mango")
print(fruits)

['apple', 'banana', 'orange', 'mango']

In [4]:
my_list = [1, 2, 3, 4, 5]
new_list = my_list.copy()
print(new_list)
# Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [5]:
my_list = [1, 2, 2, 3, 4, 2, 5, 2]
count = my_list.count(2)
print(count)
# Output: 4

4

In [8]:
my_list = [10, 20, 30, 40, 50]
del my_list[2] # Removes the element at index 2
print(my_list) # Output: [10, 20, 40, 50]

[10, 20, 40, 50]

In [9]:
fruits = ["apple", "banana", "orange"]
more_fruits = ["mango", "grape"]
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'orange', 'mango', 'grape']

In [11]:
my_list = [10, 20, 30, 40, 50]
print(my_list[0])
# Output: 10 (accessing the first element)
print(my_list[-1])
# Output: 50 (accessing the last element using negative indexing)

10
50

In [12]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 6)  # list_name.insert(index, element)
print(my_list)

[1, 2, 6, 3, 4, 5]

In [13]:
my_list = [10, 20, 30, 40, 50]
my_list[1] = 25 # Modifying the second element
print(my_list) # Output: [10, 25, 30, 40, 50]

[10, 25, 30, 40, 50]

In [14]:
my_list = [10, 20, 30, 40, 50]
removed_element = my_list.pop(2) # Removes and returns the element at index 2
print(removed_element) # Output: 30
print(my_list) # Output: [10, 20, 40, 50]

30
[10, 20, 40, 50]

In [15]:
my_list = [10, 20, 30, 40, 50]
removed_element = my_list.pop() # Removes and returns the last element
print(removed_element) # Output: 50
print(my_list) # Output: [10, 20, 30, 40]

50
[10, 20, 30, 40]

In [16]:
my_list = [10, 20, 30, 40, 50]
my_list.remove(30) # Removes the element 30
print(my_list) # Output: [10, 20, 40, 50]

[10, 20, 40, 50]

In [17]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list) # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [18]:
my_list = [1, 2, 3, 4, 5]
print(my_list[1:4]) # Output: [2, 3, 4] (elements from index 1 to 3)
print(my_list[:3]) # Output: [1, 2, 3] (elements from the beginning up to index 2)
print(my_list[2:]) # Output: [3, 4, 5] (elements from index 2 to the end)
print(my_list[::2]) # Output: [1, 3, 5] (every second element)

[2, 3, 4]
[1, 2, 3]
[3, 4, 5]
[1, 3, 5]

In [19]:
my_list = [5, 2, 8, 1, 9]
my_list.sort()
print(my_list) # Output: [1, 2, 5, 8, 9]

[1, 2, 5, 8, 9]

In [20]:
my_list = [5, 2, 8, 1, 9]
my_list.sort(reverse=True)
print(my_list) # Output: [9, 8, 5, 2, 1]

[9, 8, 5, 2, 1]

In [21]:
L = [ "Michael Jacfson", 10.2]
L.extend(['pop', 10])
print(L)

['Michael Jacfson', 10.2, 'pop', 10]

In [22]:
L1 = [ "Michael Jacfson", 10.2]
L1.append(['pop', 10])
print(L1)

['Michael Jackson', 10.2, ['pop', 10]]

In [24]:
# Change the element based on the index

A = ["sisco", 10, 1.2]
print('Before change:', A)
A[0] = 'A rock'
print('After change:', A)
############
print('Before del:', A)
del(A[0])
print('After del:', A)

Before change: ['sisco', 10, 1.2]
After change: ['A rock', 10, 1.2]
Before del: ['A rock', 10, 1.2]
After del: [10, 1.2]

In [25]:
# Split the string, default is by space

L2='nice rock'.split()
print(L2)

['nice', 'rock']

In [26]:
# Split the string by comma

LL='A,B,C,D'.split(',')
print(LL)

['A', 'B', 'C', 'D']

In [31]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
C = A[:]
print('A:', A)
print('B:', B)
print('C:', C)
print('A is B?', A is B)

A[0] = 'banana'
print('A:', A)
print('B:', B)
print('C:', C)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]
C: ['hard rock', 10, 1.2]
A is B? True
A: ['banana', 10, 1.2]
B: ['banana', 10, 1.2]
C: ['hard rock', 10, 1.2]

In [32]:
a_list=[1, "hello", [1,2,3], True]
print(a_list[1])
print(a_list[1:4])

hello
['hello', [1, 2, 3], True]

In [36]:
A = [1, 'a']
B = [2, 1, 'd']
A = A + B
print(A)

[1, 'a', 2, 1, 'd']

In [41]:
Shopping_list=[]
# store the number of items to the shopping_list: Watch, Laptop, Shoes, Pen, Clothes
Shopping_list.extend(['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes'])
print(Shopping_list)
# Another way
#Shopping_list.append('Watch')
#Shopping_list.append('Laptop')
#Shopping_list.append('Shoes')
#Shopping_list.append('Pen')
#Shopping_list.append('Clothes')
Shopping_list.append("Football")
print(Shopping_list[0])
print(Shopping_list[-1])
print(Shopping_list)
print(Shopping_list[1:3])
Shopping_list[3] = "Notebook"
print(Shopping_list)
del (Shopping_list[4]) # delete clothes
print(Shopping_list)

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']
Watch
Football
['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']
['Laptop', 'Shoes']
['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football']
['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']

NameError: name 'shopping_list' is not defined