In [4]:
fruits = ["apple", "banana", "orange"]
list1 = enumerate(fruits)
print(list(list1))
print(type(list1))
for index, fruit in enumerate(fruits):
    print(f"At position {index}, I found a {fruit}")

[(0, 'apple'), (1, 'banana'), (2, 'orange')]
<class 'enumerate'>
At position 0, I found a apple
At position 1, I found a banana
At position 2, I found a orange

In [5]:
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [8]:
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973