# Python Basics NoteBook

In [ ]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
#Write a Python code to declare variable id="513".
id = "513"
#Print the following statement "customer id =513". [Don't use print("customer id =513")]
print("customer id =",id)

customer id = 513

In [ ]:
#Run the following statement, why there is an error
# because we did not assign a value for id before using it

id=id+"1"
print(id)

5131

In [ ]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
new_id = int(id) + 1
print(new_id)

5132

In [ ]:
#Write a Python code to print the following string in a specific format (see the output).

# Twinkle, twinkle, little star,
#     How I wonder what you are!
#        Up above the world so high,
#            Like a diamond in the sky.

print("Twinkle, twinkle, little star, \n")
print("\t How I wonder what you are!, \n")
print("\t\t Up above the world so high,  \n")
print("\t\t\t Like a diamond in the sky.   \n")

Twinkle, twinkle, little star,

	 How I wonder what you are!,

		 Up above the world so high,

			 Like a diamond in the sky.

In [ ]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
print(course[0])

P

In [ ]:
# Print the element on the 13th index in the string
print(course[13])

t

In [ ]:
# Find the length of string
print(len(course))

23

In [ ]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [ ]:
# Take the slice on variable course with only index 11 to index 14
print(course[11:15])

Data

In [ ]:
# Get every third element in the range from index 0 to index 20
print(course[0:20:3])

Ph ra i

In [ ]:
# Concatenate course string with ", AI & Development"
course1 = course + ", AI & Development"
print(course1)

Python for Data Science, AI & Development

In [ ]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
course3 = course1.replace(" ","_")
print(course3)

Python_for_Data_Science,_AI_&_Development

In [ ]:
# Convert all the characters in string to upper case
course4 = course.upper()
print(course4)

PYTHON FOR DATA SCIENCE

In [ ]:
a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [ ]:
name = "Michael Jackfon"
name.find('el')
print("el is ound in :",name.find('el'))

el is ound in : 5

In [ ]:
print(name.find('Jasdfasdasdf'))

-1

In [ ]:
#Split the substring into list using space separator
name = "Michael Jacfson"
split_string = (name.split())
print(split_string)

['Michael', 'Jacfson']

In [ ]:
#Split the substring into list using space separator
name = "Michael,Jacfson"
split_string2 = (name.split(','))
print(split_string2)

['Michael', 'Jacfson']

In [ ]:
import re
s1 = "Michael Jackson is the best"

# Define the pattern to search for
pattern = r"Jackson"

# Use the search() function to search for the pattern in the string
result = re.search(pattern, s1)

# Check if a match was found
if result:
    print("Match found in ",result.group())
else:
    print("Match not found! ")

Match found in  Jackson

In [ ]:
import re
pattern = r"\d\d\d\d\d\d\d\d\d\d"  # Matches any ten consecutive digits
text = "My Phone number is 1234567890"
match = re.search(pattern, text)
if match:
    print("Phone number found:", match.group())
else:
    print("No match")

Phone number found: 1234567890

In [ ]:
pattern = r"\W"  # Matches any non-word character
text = "Hello, world!"
matches = re.findall(pattern, text)

print("Matches:", matches)

Matches: [',', ' ', '!']

In [ ]:
pattern = r"\s"  # Matches any non-word character
text = "  Hello, world    !"
matches2 = re.findall(pattern, text)

print("Matches:", matches2)

Matches: [' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [ ]:
import re
s2 = "Michael Jacfson was a writer and known as the 'King of novels'"
# Matches "as" as whole word only"
pattern2 = r"\bas\b"
# Use the findall() function to find all occurrences of the "as" as a whole word in the string
result2 = re.findall(pattern2, s2)
# find the index where thw "as" were found

for match in re.finditer(pattern2, s2):
    print(match.start())

# Print out the list of matched words
print(result2)

39
['as']

In [ ]:
import re
s3 = "Michael Jacfson was a writer and known as the 'King of novels'"
# Matches "as" as whole word only"
pattern3 = r"\Bas"
# Use the findall() function to find all occurrences of the "as" in the string
result3 = re.findall(pattern3, s3)
# find the index where thw "as" were found

for match in re.finditer(pattern3, s3):
    print(match.start())

# Print out the list of matched words
print(result3)

[]

In [ ]:
# Use the split function to split the string by the "\s" white space
split_array = re.split("\s", s3)

# The split_array contains all the substrings, split by whitespace characters
print(split_array)

['Michael', 'Jacfson', 'was', 'a', 'writer', 'and', 'known', 'as', 'the', "'King", 'of', "novels'"]

In [ ]:
# Define the regular expression pattern to search for
pattern = r"King of novels"

# Define the replacement string
replacement = "legend"

# Use the sub function to replace the pattern with the replacement string
new_string = re.sub(pattern, replacement, s3, flags=re.IGNORECASE)

# The new_string contains the original string with the pattern replaced by the replacement string
print(new_string)

Michael Jacfson was a writer and known as the 'legend'

In [ ]:
# Write your code below and press Shift+Enter to execute
import re
print("\\")

print(r"\ ")

In [ ]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow .. snow ... snow  And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
pattern2= "snow"
indx = g.find(pattern2)

print(indx)
import re
matches2 = re.findall(pattern2, g)

print("Matches:", matches2)

95
Matches: ['snow', 'snow', 'snow']

In [ ]:
# Write your code below and press Shift+Enter to execute
h = g.replace("Mary","Bob")
print(h)
import re
matches3 = re.findall("Bob", h)

print("Matches:", matches3)

Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow .. snow ... snow  And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go
Matches: ['Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']

In [ ]:
# Write your code below and press Shift+Enter to execute
h1 = g.replace(",",".")
print(h1)
import re
matches5 = re.findall("\.", h1)

print("Matches:", matches5)
# split g into lists
l = g.split()
print(l)

Mary had a little lamb Little lamb. little lamb Mary had a little lamb Its fleece was white as snow .. snow ... snow  And everywhere that Mary went Mary went. Mary went Everywhere that Mary went The lamb was sure to go
Matches: ['.', '.', '.', '.', '.', '.', '.']
['Mary', 'had', 'a', 'little', 'lamb', 'Little', 'lamb,', 'little', 'lamb', 'Mary', 'had', 'a', 'little', 'lamb', 'Its', 'fleece', 'was', 'white', 'as', 'snow', '..', 'snow', '...', 'snow', 'And', 'everywhere', 'that', 'Mary', 'went', 'Mary', 'went,', 'Mary', 'went', 'Everywhere', 'that', 'Mary', 'went', 'The', 'lamb', 'was', 'sure', 'to', 'go']

In [ ]:
print(bool(120))
print(bool(-120))
print(bool(0))

True
True
False

In [ ]:

print(type("hello" == "world")  )

print("hello" == "world"  )

<class 'bool'>
False

In [ ]:
name = "John"
age = 30
print(f"My name is {name} and I am {age} years old.")

In [ ]:
name2 = "Johnathon"
age2 = 50
print("My name is {} and I am {} years old.".format(name2, age2))

In [ ]:
#In the string str2 find all the occurrences of woo using findall() function:
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

# Write your code below and press Shift+Enter to execute
import re
pat = re.findall("woo",str2)
print(pat)

['woo', 'woo', 'woo', 'woo']

In [ ]:
str1= "The quick brown fox jumps over the lazy dog."
# Use re.sub() to replace "fox" with "bear"
new_str1 = re.sub(r"fox", "bear", str1)

print(new_str1)

The quick brown bear jumps over the lazy dog.

In [ ]:
s3 = "House number- 1105"
# Write your code below and press Shift+Enter to execute
import re
patt = r"\d"
matching = re.search(patt,s3)
digits = re.findall(patt,s3)

if matching :
  print("digit found", matching.group())
  print(digits)
else: print("Dogit Not found")

digit found 1
['1', '1', '0', '5']