In [1]:
release_year_dict = {
    'Thller': 1982,
    'in Black': 1980,
    'The Dark Moon': 1973,
    'The Body babi ': 1992,
    ' Out of Hell': 1977,
    'Their baby': 1976,
    'Saturday Night ': 1977,
    'Rom rurs': 1977
}

# Get all keys using keys() method
all_keys = release_year_dict.keys()

# Print the keys (type: dict_keys)
print(all_keys)  # Output: dict_keys(['Thriller', 'Back in Black', ...])
print(type(all_keys))  # Output: <class 'dict_keys'>

# Iterate over keys
for key in all_keys:
    print(key, release_year_dict[key])  # Access values using keys

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])
<class 'dict_keys'>
Thriller 1982
Back in Black 1980
The Dark Side of the Moon 1973
The Bodyguard 1992
Bat Out of Hell 1977
Their Greatest Hits (1971-1975) 1976
Saturday Night Fever 1977
Rumours 1977

In [7]:
person = {
    "name": "John",
    "age": 30,
    }
name = person["name"]
age = person["age"]
person["Country"] = "USA" # A new entry will be created.
person["city"] = "Chicago" # Update the existing value for the same key
print(person) # Print the updated dictionary
new_person1 = person.copy()
new_person2 = dict(person)
print(new_person1)
print(new_person2)
# .items() Retrieves all key-value pairs as tuples
# using list() to convert them into a list of tuples. Each tuple consists of a key and its corresponding value
info = list(person.items())
print(info)
if "name" in person:
    print("Name exists in the dictionary.")
else:
    print("Name does not exist in the dictionary.")
person_keys = list(person.keys())

person_values = list(person.values())
print(person_keys)
print(person_values)
person.pop("age")
print(person)
person.popitem()
print(person)

person.update({"Profession": "Doctor"})
print(person)

{'name': 'John', 'age': 30, 'Country': 'USA', 'city': 'Chicago'}
{'name': 'John', 'age': 30, 'Country': 'USA', 'city': 'Chicago'}
{'name': 'John', 'age': 30, 'Country': 'USA', 'city': 'Chicago'}
[('name', 'John'), ('age', 30), ('Country', 'USA'), ('city', 'Chicago')]
Name exists in the dictionary.
['name', 'age', 'Country', 'city']
['John', 30, 'USA', 'Chicago']
{'name': 'John', 'Country': 'USA', 'city': 'Chicago'}
{'name': 'John', 'Country': 'USA'}
{'name': 'John', 'Country': 'USA', 'Profession': 'Doctor'}

In [2]:
grades = {10: 10, 20: 20, 30: 30, 40: 40, 50: 50}
for key in grades:
    print(key, grades[key])
grades.clear()
print(grades)

10 10
20 20
30 30
40 40
50 50
{}

In [12]:
# Convert list to set

album_list = [ "Michael Jacfon", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)
print(album_set)
print(type(album_set))
album_set.add("Michael Jane")
album_set.add("Michael Jane") # will not be added - no duplication in set
print(album_set)
album_set.remove("Thriller")
print(album_set)
if "Michael Jane" in album_set:
    print("Michael Jane is in the set")
else:
    print("Michael Jane is not in the set")

{65, '30-Nov-82', 10.0, 'Michael Jacfon', 46.0, 'Pop, Rock, R&B', 'Thriller', 1982, None, '00:42:19'}
<class 'set'>
{65, '30-Nov-82', 10.0, 'Michael Jacfon', 46.0, 'Pop, Rock, R&B', 'Thriller', 1982, 'Michael Jane', None, '00:42:19'}
{65, '30-Nov-82', 10.0, 'Michael Jacfon', 46.0, 'Pop, Rock, R&B', 1982, 'Michael Jane', None, '00:42:19'}
Michael Jane is in the set

In [17]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

print(album_set1.intersection(album_set2))
# Another way to Find the intersections
intersection = album_set1 & album_set2
print(intersection)

print(album_set1.union(album_set2))
# Find the difference in set1 but not set2
print(album_set1.difference(album_set2)) # what is in set1 but not in set2
album_set2.difference(album_set1)         # what is in set2 but not in set1

{'AC/DC', 'Back in Black'}
{'AC/DC', 'Back in Black'}
{'Thriller', 'AC/DC', 'Back in Black', 'The Dark Side of the Moon'}
{'Thriller'}

{'The Dark Side of the Moon'}

In [18]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [21]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [19]:
# Check if superset

set(album_set2).issuperset(album_set1)

False

In [23]:
l1= set(['rap','house','electronic music', 'rap'] )
print(l1)

{'house', 'rap', 'electronic music'}

In [29]:
#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
sum1 = 0
for i in A:
    sum1 = sum1 + i
sum2=0
B_list = list(B)
print("A=",A)
print("B=",B_list)
for j in B_list:
    sum2 = sum2 + j
if sum1 == sum2 :
    print(f"sum1={sum1}, sum2={sum2}, 2 sets have equal sum")
else:
    print(f"sum1={sum1}, sum2={sum2}, 2 sets do not have equal sum")

############ Shorter Way ##################
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

A= [1, 2, 2, 1]
B= [1, 2]
sum1=6, sum2=3, 2 sets do not have equal sum
the sum of A is: 6
the sum of B is: 3

In [30]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
print(album_set3)

{'Thriller', 'AC/DC', 'Back in Black', 'The Dark Side of the Moon'}